<main>
  @if (!response.load && !response.error) {
  <span class="loader"></span>
  }

  @if (response.error) {
  <div> {{response.error}} </div>
  }

  @if (response.load) {
  <article class="characters">
    @for (character of response.characters; track character.id) {
    <a href="/character?id={{character.id}}" class="character-item">
      <figure>
        <img src={{character.image}} alt={{character.name}} class="character-img">
      </figure>
      <article class="character-data">
        <span class="primary">
          <h3>{{character.name}}</h3>
          <p>{{character.gender}}</p>
        </span>
        <span class="secondary">
          <h3>{{character.species}}</h3>
          <p>{{character.status}}</p>
        </span>
      </article>
    </a>
    }
  </article>
  }
</main>