<article class="characters">
  @for (item of characters; track item.id) {
  <section class="character-item" (click)="getCharacter(item)">
    <figure>
      <img src={{item.image}} alt={{item.name}} class="character-img">
    </figure>
    <article class="character-data">
      <span class="primary">
        <h3>{{item.name}}</h3>
        <p>{{item.gender}}</p>
      </span>
      <span class="secondary">
        <h3>{{item.species}}</h3>
        <p>{{item.status}}</p>
      </span>
    </article>
  </section>
  } @empty {
  <section class="not-characters"> There are no characters. </section>
  }
</article>