<main>
  @if (!loadCharecters) {
  <span class="loader"></span>
  }
  @else {
  <ul class="characters">
    @for (character of characters; track character.id) {
    <li class="character-item" (click)="getCharacter(character)">
      <figure>
        <img src={{character.image}} alt={{character.name}} class="character-img">
      </figure>
      <article class="character-data">
        <span class="primary">
          <h3>{{character.name}}</h3>
          <p>{{character.gender}}</p>
        </span>
        <span class="secondary">
          <h3>{{character.species}}</h3>
          <p>{{character.status}}</p>
        </span>
      </article>
    </li>
    }
  </ul>
  }
</main>