<main>
  <header class="header">
    <figure class="rick-icon">
      <img src="../assets/rick.svg" alt="Rick logo" />
    </figure>
    <h3 class="rick-title">
      Angular with Rick and Morty
    </h3>
    <section class="character-search">
      <app-search />
    </section>
  </header>
  <article class="container custombar">
    <section class="section-content">
      <app-list />
    </section>
  </article>
  <footer class="footer">
    <small>
      Copyright © JhersonRojas 2023
    </small>
  </footer>
</main>

<router-outlet></router-outlet>