<main>
  <header class="main-header">
    <figure class="rick-icon">
      <img src="../assets/favicon.svg" alt="Rick logo" />
    </figure>
    <section class="character-search">
      <h3 class="rick-title">
        Angular with <br> Rick and Morty
      </h3>
      <app-search />
    </section>
  </header>
  <article class="main-container custombar">
    <app-list />
  </article>
  <footer class="main-footer">
    <small>
      Copyright © JhersonRojas 2023
    </small>
  </footer>
</main>

<router-outlet></router-outlet>