<main>
  <article class="container">
    <header class="header">
      <figure class="rick-icon">
        <img src="../assets/rick.svg" alt="Rick logo" />
      </figure>
      <h3 class="rick-title">
        Angular with Rick and Morty
      </h3>
    </header>
    <section class="section-search">
      <app-search />
    </section>
    <section class="section-content">
      Content
      <app-list />
    </section>

    <footer class="footer">
      Footer
    </footer>

  </article>
</main>

<router-outlet></router-outlet>